/*[required], [required='required'] {
  background: yellow;
}
*/
/*Add your changes here*/

@media print {
    input[type="radio"] {
        display: none;
    }

    input[type="radio"][checked="checked"] {
        display: inline-block;
    }
}
